<blui-drawer-layout [variant]="getVariant()" (backdropClick)="closeDrawer()">
    <blui-drawer blui-drawer [open]="isOpen()" [sideBorder]="true">
        <blui-drawer-header title="Easy Asignment" subtitle="Brightlayer UI + Angular">
            <button mat-icon-button blui-icon (click)="toggleDrawerOpen()">
                <mat-icon>menu</mat-icon>
            </button>
        </blui-drawer-header>
        <blui-drawer-body>
            <blui-drawer-nav-group>
                <blui-drawer-nav-item
                    *ngFor="let navItem of navItems"
                    [divider]="true"
                    [title]="navItem.title"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon blui-icon>{{ navItem.icon }}</mat-icon>
                </blui-drawer-nav-item>
            </blui-drawer-nav-group>
        </blui-drawer-body>
    </blui-drawer>
    <div blui-content class="drawer-content">
        <mat-toolbar class="toolbar" color="primary">
            <button
                mat-icon-button
                *ngIf="variant === 'temporary'"
                (click)="openDrawer()"
                style="margin-right: 16px; margin-left: -16px"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <h2>{{ toolbarTitle }}</h2>
            <blui-spacer></blui-spacer>
            <!-- user-menu -->
            <blui-user-menu 
                avatarValue="MH" 
                menuTitle="Sample Title"
                menuSubtitle="Sample Subtitle"
                [(open)]="open">
                <mat-nav-list blui-menu-body [style.paddingTop.px]="0">
                    <blui-info-list-item (click)="open=false">
                        <mat-icon blui-icon>settings</mat-icon>
                        <div blui-title>Settings</div>
                    </blui-info-list-item>
                    <blui-info-list-item (click)="open=false">
                        <mat-icon blui-icon>exit_to_app</mat-icon>
                        <div blui-title>Log Out</div>
                    </blui-info-list-item>
                </mat-nav-list>
            </blui-user-menu>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</blui-drawer-layout>
